/* Bordered form */
form {
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 300px;
    box-sizing: border-box;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 80px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #eee;
    margin: auto auto; /* 15% from the top and centered */
    max-width: 500px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;}
    .modal-content .container{
        margin: 0 auto;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatesmudge 0.5s;
    animation: animatesmudge 0.5s
}

@-webkit-keyframes animatesmudge {
    from {-webkit-transform: translateY(-50vh)}
    to {-webkit-transform: translateY(0)}
}

@keyframes animatesmudge {
    from {transform: translateY(-50vh)}
    to {transform: translateY(0)}
}
