/* ---------------- GLOBAL VARIABLES ---------------- */
:root {
  --color1: #23a8e6;
  --color1-s2: #bae9ff;
  --color1-s3: #0f7daf;
  --color1-50a: rgba(34, 167, 230, 0.5);
  --color2: #bc4f4f;
  --color2-s2: #a84545;
  --color3: #3aaf3a;
  --color3-50a: rgba(58, 175, 58, 0.5);
  --dark: #222;
  --light: #eee;
  --dark-border: 2px solid rgba(0, 0, 0, 0.075);
  --light-border: 2px solid rgba(255, 255, 255, 0.4);
  --text-color: #444;
  --text-color-light: #eee;
  --background: #333;
}

/* ---------------- default html tags ---------------- */
body,
html {
  width: 100%;
  height: 100%;
  font-size: 11pt;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  color: var(--text-color);
  /* scroll-behavior: smooth; */
}

a {
  color: var(--color1);
}

a:hover {
  color: var(--color1-s3);
}

hr {
  border-top: var(--dark-border);
  width: 100%;
  margin-top: 0;
}

hr.smallruler {
  border-top: var(--dark-border);
  width: 60%;
}

.hyper-down {
  height: 20px;
  border-top: 2px solid #00000080;

  background-image: url(../img/dia_pat.png);
  opacity: 0.075;

  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0));

  -moz-box-shadow: inset 0 5px 10px -2px #000000;
  -webkit-box-shadow: inset 0 5px 10px -2px #000000;
  box-shadow: inset 0 5px 10px -2px #000000;
}

.hyper-up {
  height: 20px;
  border-bottom: 2px solid #00000080;

  background-image: url(../img/dia_pat.png);
  opacity: 0.075;

  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

  -moz-box-shadow: inset 0 -5px 10px -2px #000000;
  -webkit-box-shadow: inset 0 -5px 10px -2px #000000;
  box-shadow: inset 0 -5px 10px -2px #000000;
}

/* ---------------- text edits */
.highlight {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, var(--color1-50a) 0%);
  background-size: 500%;
  background-position: 0 0;
  transition: 0.8s ease-in-out;
}

.highlight:hover {
  background-position: -25% 0;
  transition: 0.4s ease-in-out;
}

.bar {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, var(--color1-s2) 0%);
  background-size: 500%;
  background-position: 0 0;
  transition: 0.8s ease-in-out;
  padding-left: .4em;
  padding-right: 1em;
  border-left: 3px solid var(--color1);
  transition: 0.3s ease-in-out;
}

.bar-on {
  background-position: -25% 0;
  border-left: 6px solid var(--color1);
}

/* ---------------- navbar edits ---------------- */
.navbar-brand img {
  max-width: 32px;
  max-height: 32px;
  padding: 0;
  margin: 0;
}

.navbar-dark.bg-dark {
  background-color: #333 !important;
}

.nav-link {
  color: #ccc !important;
  transition: all .3s;
}

.nav-link:hover {
  color: #fff !important;
  margin-right: 0.2em;
}

/* ---------------- Basic page elements ---------------- */
.page-offset {
  margin-top: 76px;
}

.info-container {
  margin: 5em;
}

.footer {
  bottom: 0;
  height: 26px;
  background-color: #f0f0f0;
  color: #888;

  border-top: var(--dark-border);
}

/* ---------------- profile picture ---------------- */
#pp-container {
  border-right: var(--dark-border);
  max-width: 200px;
  min-width: 200px
}

#pp-container img {
  /* flip image over x axis */
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  /* border: var(--dark-border); */
  transition: all .4s;
}

/* desktop */
@media (min-width: 768px) {
  #bio {
    max-width: 70%;
  }

  #pp-container img:hover {
    border-radius: 8%;
    max-width: 154px;
    max-height: 154px;
  }
}

/* phones */
@media only screen and (max-width: 768px) {
  #pp-container {
    border-right: 0;

    max-width: 100%;
    min-width: 100%;
  }

  #pp-container img {
    /* flip image over x axis */
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    /* border: var(--dark-border); */
    transition: all 0s;
  }

  .soundcloud {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

/* ---------------- projects ---------------- */
.projects {
  min-height: 500px;
}

.projects img {
  object-fit: cover;
}

.soundcloud {
  min-width: 50%;
  max-width: 80%;
  max-height: 350px;
}

#sketch-holder {
  max-width: 320px;
  max-height: 320px;
}